// Fortnightly specific variables
$fortnightly-font-size: 16;
$fortnightly-heading-font-style: italic;
$fortnightly-primary-color: #6B38FB;

// Preset variables
$body-font-family: 'Libre Franklin', sans-serif;
$border-radius-root: 0;
$btn-font-weight: 700;
$heading-font-family: 'Merriweather', sans-serif;
$headings: (
  'h1':(
    'font-family': $heading-font-family,
    'letter-spacing': initial,
    'size': #{96 / $fortnightly-font-size}rem,
    'weight': 900
  ),
  'h2':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{60 / $fortnightly-font-size}rem,
    'weight': 300
  ),
  'h3':(
    'font-family': $heading-font-family,
    'letter-spacing': initial,
    'size': #{48 / $fortnightly-font-size}rem,
    'weight': 900
  ),
  'h4':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{34 / $fortnightly-font-size}rem,
    'weight': 400
  ),
  'h5':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{24 / $fortnightly-font-size}rem,
    'weight': 400
  ),
  'h6':(
    'font-family': $heading-font-family,
    'letter-spacing': initial,
    'size': #{20 / $fortnightly-font-size}rem,
    'weight': 700
  ),
  'subtitle-1':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{16 / $fortnightly-font-size}rem,
    'weight': 500
  ),
  'subtitle-2':(
    'font-family': $heading-font-family,
    'letter-spacing': initial,
    'size': #{14 / $fortnightly-font-size}rem,
    'weight': 500
  ),
  'body-1':(
    'font-family': $heading-font-family,
    'letter-spacing': initial,
    'size': #{16 / $fortnightly-font-size}rem,
    'weight': 400
  ),
  'body-2':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{14 / $fortnightly-font-size}rem,
    'weight': 400
  ),
  'caption':(
    'font-family': $heading-font-family,
    'letter-spacing': initial,
    'size': #{12 / $fortnightly-font-size}rem,
    'weight': 400
  ),
  'overline':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{10 / $fortnightly-font-size}rem,
    'weight': 700
  )
);
$icon-outlined-border-width: 2px;
$material-light: (
  'app-bar': #FFFFFF,
  'background': #FFFFFF,
  'chips': #FFFFFF
);
$stepper-elevation: 0;
