$body-font-family: 'Work Sans', sans-serif;
$btn-font-weight: 500;
$card-border-radius: 0;
$headings: (
  'h1':('weight': 300),
  'h2':('weight': 600),
  'h3':('weight': 400),
  'h4':('weight': 400),
  'h5':('weight': 700),
  'subtitle-1':('weight': 500),
  'subtitle-2':('weight': 500),
  'body-1':('weight': 500),
  'body-2':('weight': 500),
  'caption':('weight': 400),
  'overline':('weight': 600)
);
