@import '~vuetify/src/styles/styles.sass';

// Rally specific variables
$rally-box-shadow: none;
$rally-dialog-background-color: #1F1E1F;
$rally-font-size: 16;
$rally-tabs-slider-background: transparent;
$rally-text-color: #FFFFFF;

// Preset variables
$body-font-family: 'Roboto Condensed', sans-serif;
$heading-font-family: 'Eczar', sans-serif;
$border-radius-root: 0;
$btn-font-size: #{14 / $rally-font-size}rem;
$btn-font-weight: 700;
$card-box-shadow: none;
$dialog-card-subtitle-padding: 24px;
$dialog-card-text-padding: 24px;
$dialog-card-title-padding: 24px;
$dialog-elevation: 0;
$headings: (
  'h1':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{96 / $rally-font-size}rem,
    'weight': 300
  ),
  'h2':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{60 / $rally-font-size}rem,
    'weight': 300
  ),
  'h3':(
    'font-family': $heading-font-family,
    'letter-spacing': initial,
    'size': #{48 / $rally-font-size}rem,
    'weight': 400
  ),
  'h4':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{34 / $rally-font-size}rem,
    'weight': 400
  ),
  'h5':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{24 / $rally-font-size}rem,
    'weight': 400
  ),
  'h6':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{20 / $rally-font-size}rem,
    'weight': 500
  ),
  'subtitle-1':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{16 / $rally-font-size}rem,
    'weight': 400
  ),
  'subtitle-2':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{14 / $rally-font-size}rem,
    'weight': 500
  ),
  'body-1':(
    'font-family': $heading-font-family,
    'letter-spacing': initial,
    'size': #{16 / $rally-font-size}rem,
    'weight': 400
  ),
  'body-2':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{14 / $rally-font-size}rem,
    'weight': 300
  ),
  'caption':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{12 / $rally-font-size}rem,
    'weight': 400
  ),
  'overline':(
    'font-family': $body-font-family,
    'letter-spacing': initial,
    'size': #{10 / $rally-font-size}rem,
    'weight': 400
  )
);
$material-dark: (
  'status-bar': (
    'regular': #27272f
  ),
  'background': #33333d,
  'cards': #373740,
  'dividers': #33333d,
  'tabs': rgba(255, 255, 255, .3)
);
$material-light: (
  'dividers': rgba(255, 255, 255, .12)
);
$navigation-drawer-border-width: 0;
$snackbar-background-color: rgba(39, 39, 47, .9);
$tab-font-size: 1.25rem;
$tab-font-weight: 500;
$tabs-item-min-width: 0;
$tabs-bar-background-color: map-get($material-dark, 'background');
