@import '~vuetify/src/styles/styles.sass';

$body-font-family: 'Rubik', sans-serif;
$btn-font-weight: 700;
$chip-icon-margin-after: 0;
$chip-icon-margin-before: 0;
$chip-icon-size: 32px;
$chip-label-border-radius: 0;
$chip-transition-duration: initial;
$chip-transition-fn: map-get($transition, 'swing');
$chip-white-space: initial;
$headings: (
  'h1':('weight': 700),
  'h2':('weight': 700),
  'h3':('weight': 700),
  'h4':('weight': 700),
  'h5':('weight': 700),
  'subtitle-1':('weight': 500)
);
$heading-font-family: 'Rubik', sans-serif;
$icon-sizes: (
  'default': (
    'height': 64
  )
);
$material-light: (
  'chips': #FFFFFF
);
$sheet-border-radius: 0;
